doctype html
html
  head
    meta(charset='utf-8')
    title 摩托车兜风
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', type='text/css', href='../css/action.css')
  body
    .con_wrap.con_wrap_4.wrap_show
      .motor_hook
        .motor_wrap
          .man
            .head
            .body
          .motor
            .wheel_front
            .wheel_back
            .motor_body
            .motor_handle
            .motor_pipe
              i.pipe
              i.smoke.smoke_1
              i.smoke.smoke_2
        .motor_shadow
      .tree_wrap
        span.tree_1
          i
        span.tree_2
          i
      .wording_wrap
        .wording.wording_4
      .earth_bg
    script(language='javascript', type='text/javascript', src='../js/action.js')
