extends layout/main

block head
	title testing
block body
	video(src="http://static.xiaojukeji.com/gsbs/act/video/wherewc.mp4" controls="controls")
block footer
	//- script(data-main="#{wwwroot}/js/page2" src="../vender/require.js")