extends layout/main

block head
	title turbo demo
	script.
		var $CONFIG = !{JSON.stringify($CONFIG)};
		var wwwroot = "!{wwwroot}";
block body
block footer
	//- script(data-main="#{wwwroot}/js/page1" src="../vender/require.js")
	script.
		document.write('<script src="'+ wwwroot + '/js/entry/' + $CONFIG.entryPath +'-loder.js?_t=' + new Date().getTime() +'">');
