extends layout/main

block head
	title testing
	script.
		var $CONFIG = !{JSON.stringify($CONFIG)}
		var wwwroot = "!{wwwroot}"
block footer
	script(data-main="#{wwwroot}/js/page1" src="#{wwwroot}/vender/require.js")
